[user]
	name = Dusty Phillips
	email = dusty@phillips.codes

[core]
pager = delta

[alias]
	append = town append
	hack = town hack
	sync = town sync
	sa = town sync --all
	delete = town delete
	sw = town switch
	propose = town propose
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	observe = town observe
	park = town park
	prepend = town prepend
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	tree = town branch
	graph = "!sh -c 'if git show-ref --quiet refs/heads/main; then base=main; else base=master; fi; git log --branches --pretty=oneline --graph --all --abbrev-commit --ancestry-path $base~2..HEAD'"
	pulls = "!gh pr status"

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    syntax-theme = OneHalfLight

[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictstyle = zdiff3
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	ff = only
[init]
	defaultBranch = main
